/* 
big Tablets
*/
@media only screen and (max-width:1200px) {
  .row {
    padding: 0 2%;
  }

  header {
    font-size: 17px;
  }

  .features {
    background-size: 24%;
    background-position: right;
  }

  .team:after {
    background-size: 20%;
  }

  .plain-box {
    transform: scale(0.88);
    margin-left: 20px;
    margin-right: 20px;
  }

  .container {
    transform: scale(0.93);
  }

  .popup-content {
    width: 40%;
    font-size: 90%;
  }

  .quotes {
    width: 70%;
    font-size: 70%;
    padding: 0;
  }

  .about-us {
    transform: scale(0.8);
    font-size: 110%;
    width: 95%;
  }

  .border-blue,
  .border-green {
    top: -1px
  }

}

/* 
big Tablets from 767px to 1023px 
*/

@media only screen and (max-width:1023px) {

  html,
  body {
    font-size: 18px;
  }

  .our-projects {
    display: none;
  }

  .responsiveproject {
    display: contents;
  }

  .plain-box {
    transform: scale(0.8);
    margin-left: -3%;
    margin-right: -3%;
    font-size: 110%;
  }

  section {
    padding: 0;
  }

  .responsiveproject .row h3 {
    margin-top: 2%;
  }

  .team:after {
    background-size: 25%;
    background-position: left center;
  }

  header {
    font-size: 80%;
  }

  .quotes {
    width: 85%;
  }

  #qimg img {
    width: 125px;
    height: 125px;
  }

  #qimg p,
  .qcontent {
    margin-top: 0;
  }

  .border-blue,
  .border-green {
    top: -1px
  }

  .col {
    width: 100%;
  }

  .about-img {
    background-image: url(img/about-section-bg.jpg);
    height: 85vh;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 50% 38%, 0 45%);
  }

  .about-us-content {
    padding: 2%;
  }

  .about-us {
    padding: 0;
    height: 577px;
  }

  .btn-3:link,
  .btn-3:visited {
    float: none;
  }

  .left-contact {
    width: 80%;
    margin: 0 auto;
  }

  .contact-us {
    font-size: 80%;
  }

  .contact-us h3 {
    margin-top: 2%;
  }

  .contact-form {
    width: 60%;
    margin: 0 auto;
  }

  .contact-left {
    margin-left: 0;
  }

  .contact-left label {
    font-size: 70%;
  }

  footer {
    font-size: 80%;
  }

  .popup-content {
    width: 40%;
    height: 60%;
    font-size: 90%;
  }

  #special {
    position: absolute;
    top: -7%;
    left: 0;
  }
}

@media only screen and (max-width:900px) {
  #special {
    top: 0;
  }
}

@media only screen and (max-width:840px) {
  #special {
    top: 2%;
  }
}

/* 
Tablets and smartphone from 480px to 767px 
*/

@media only screen and (max-width:767px) {
  header {
    font-size: 60%;
  }

  .features {
    font-size: 80%;
  }

  #js-about {
    padding: 0;
  }

  .team h3 {
    font-size: 120%;
  }

  .plain-box {
    margin-bottom: 0;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .contact-us h3 {
    margin-top: 3%;
  }

  .popup-content {
    width: 50%;
    height: 60%;
  }


}

@media only screen and (max-width:720px) {
  #special {
    top: 9.6%
  }

  .about-us {
    height: 1%;
  }
}

@media only screen and (max-width:660px) {
  #special {
    top: 9.6%
  }
}

@media only screen and (max-width:600px) {
  #special {
    top: 15%
  }

  .about-us {
    height: 100%;
  }

  .popup-content {
    width: 60%;
    height: 60%;
  }
}
